Dockerfile
Dockerfile.*
docker-compose.yml
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.pretieriignore
.eslintignore
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
npm-debug.log
.coverage
.coverage.*